@model AdminLTECreativa.Models.Solicitude
@using Microsoft.AspNetCore.Http;

@{ Layout = null; }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@Model.Tiposolicitud | @Model.Name @Model.Lastname</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <!-- Content Wrapper. Contains page content -->
        <div class="content">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <h1 style="text-align:center">Solicitud pago de @Model.Tiposolicitud</h1>
                    <h6 class="">Importante: Dicho pago será sujeto a evaluación por parte de administración y departamento de recursos humanos de Visible Outsource, por lo cual debe ser solicitado con al menos siete días de anticipación.</h6>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Datos personales</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="email">Correo:</label>
                                        <input type="email" name="email" required class="form-control" placeholder="@Model.Email" readonly />
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Nombres:</label>
                                        <input type="text" class="form-control" name="name" placeholder="@Model.Name" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname">Apellidos:</label>
                                        <input type="text" class="form-control" name="lastname" placeholder="@Model.Lastname" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="dui">Numero de documento unico de identidad:</label>
                                        <input type="text" class="form-control" name="dui" placeholder="@Model.Dui" readonly>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (left) -->
                        <!-- right column -->
                        <div class="col-md-6">
                            <!-- general form elements disabled -->
                            <div class="card card-warning">
                                <div class="card-header">
                                    <h3 class="card-title">Datos generales</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->
                                <div class="card-body">
                                    <div class="form-group">
                                        <label for="fecha">Fecha Solicitado: </label>
                                        <input type="text" placeholder="@Model.Fecha" readonly name="fecha" required class="form-control" />
                                    </div>
                                    @if (Model.Cargo != null)
                                    {
                                        <div class="form-group">
                                            <label for="cargo">Cargo desempeñado:</label>
                                            <input type="text" class="form-control" name="cargo" placeholder="@Model.Cargo" readonly>
                                        </div>
                                    }
                                    <div class="form-group">
                                        <label for="inputGroupSelect01">Por este medio solicito el pago de @Model.Tiposolicitud correspondiente al mes:</label>
                                        <input type="text" class="form-control" name="inputGroupSelect01" placeholder="@Model.Mes" readonly>
                                    </div>
                                    @if (Model.Tiposolicitud.Equals("Anticipo Salarial"))
                                    {
                                        <div class="form-group">
                                            <label for="mesdesc">A descontar del mes de: </label>
                                            <input type="text" class="form-control" name="mesdesc" placeholder="@Model.Mesdesc" readonly>
                                        </div>
                                    }
                                </div>
                                <!-- /.card-body -->

                                <div class="card-footer">
                                    <a href="@Url.Action("SolicitudeBonif","Home")" class="btn btn-default">Regresar</a>
                                </div>
                            </div>
                            <!-- /.card -->
                        </div>
                        <!--/.col (right) -->
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- bs-custom-file-input -->
    <script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            bsCustomFileInput.init();
        });</script>
</body>
</html>
